<cdk-accordion class="sw-accordion">
    <cdk-accordion-item class="sw-accordion-panel">
        <div 
            (click)="toggle()" 
            class="sw-accordion-title"
        >
            <ng-content select="sw-accordion-title"></ng-content>
            <sw-icon [name]="isExpanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'">
            </sw-icon>
        </div>
        <div class="sw-accordion-body" 
            [style.--sw-accordion-body-display]="isExpanded ? 'block' : 'none'"
        >
            <ng-content select="sw-accordion-body"></ng-content>
        </div>
    </cdk-accordion-item>
</cdk-accordion>