.sw-accordion {
    width: 100%;
}

.sw-accordion-panel {
    width: 100%;
}

.sw-accordion-title {
    border: 1px solid black;
    border-radius: 5px;
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.sw-accordion-body {
    width: 100%;
    padding: 3%;
    display: var(--sw-accordion-body-display);
    border-top: none;
}
